:root{
  --green: #72DB73;
  --dark-green: #085C00;
  --black: #1E1E1E;
  --white: #ffffff;
  --dark-gray: #292929;
  --light-gray: #7C7C7C;
  --orange: #FF5209;
  --lavender: #D7A4FF;
  --leafy-green: #148A08;
  --blue: #84C2FF;
  --maroon: #902500;
  --indigo: #7358FF;
  --pink: #FF4ADE;
  --red: #E61E32;
  --light-green: #6CD061;
  --border-green: #11B800;
}
